.container {
  background-color: #19223c;
  color: #fff;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 22px;
  position: relative;
  overflow: hidden;
  transition: 0.6s;
}

.container {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.detail {
  color: #cca9a9;
}

.container span {
  display: inline-block;
}

.container img {
  max-height: 80px;
}

.chart-img-div {
  width: 72px;
}
